@charset "UTF-8";
/* CSS Document */

/* ALL SECTIONS */
body {
	font-family: "Kumbh Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.08em;
	line-height: 1.5;
}


/* NAV */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	height: 100px;
	border-bottom-style: solid;
	border-bottom-color: hsl(223, 64%, 98%);
}

#mobile-menu {
	display: none;
}

#nav-logo-items {
	display: flex;
	align-items: center;
}

#sneaker-logo {
	padding: 0px 45px 0px 5px;
}

ul {
	display: flex;
	padding: 0px;
}

li {
	color: hsl(219, 9%, 45%);
	text-decoration: none;
	list-style-type: none;
	align-items: center;
	padding: 0px 15px;
	margin: 0px;
}

li:hover {
	color: hsl(220, 13%, 13%);
	cursor: pointer;
	box-sizing: border-box;
	border-bottom-style: solid;
	border-bottom-color: hsl(26, 100%, 55%);
	border-bottom-width: thick;
}

#nav-cart-logo {
	display: flex;
	align-items: center;
}

#nav-cart-icon {
	color: hsl(219, 9%, 45%);
}

#nav-cart-icon:hover {
	color: black;
	cursor: pointer;
}

#profile-icon {
	padding: 0px 5px 0px 15px;
}

#p-icon {
	width: 40px;
	height: 40px;
}

#p-icon:hover {
	box-sizing: border-box;
	border-style: solid;
	border-width: thin;
	border-radius: 20px;
	color: hsl(26, 100%, 55%);
}

/* PRODUCT */
main {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

/* PRODUCT IMAGES */
#product-images {
	width: 50vw;
	margin-right: 50px;
}

#main-image {
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}

.full-images {
	height: 340px;
	width: 340px;
	display: none;
}

#main-1 {
	display: block;
}

.prod-img {
	height: 100%;
	width: 100%;
	border-radius: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#all-thumbs {
	display: flex;
	justify-content: flex-end;
}

#image-1, #image-2, #image-3, #image-4 {
	margin: 20px 10px;
	height: 70px;
	width: 70px;
	border-radius: 10px;
}

#image-1:hover, #image-2:hover, #image-3:hover, #image-4:hover {
	opacity: 0.5;
	cursor: pointer;
}

#image-1:active, #image-2:active, #image-3:active, #image-4:active {
	opacity: 0.5;
	box-sizing: border-box;
	border-style: solid;
	border-width: thin;
	border-radius: 10px;
	color: hsl(26, 100%, 55%);
	cursor: pointer;
}

#previous, #next {
	display: none;
}

/* PRODUCT DESCRIPTION */
#product-info {
	width: 50vw;
	padding-right: 100px;
	margin-left: 50px;
}

h6 {
	color: hsl(26, 100%, 55%);
}

h1 {
	font-weight: 700;
}

.content-p {
	color: hsl(219, 9%, 45%);
}


/* PRICES & CART */
#price-discount {
	line-height: 22px;
}

#price {
	font-size: 26px;
	font-weight: 700;
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

#discount {
	color: hsl(26, 100%, 55%);
	background-color: hsl(25, 100%, 94%);
	padding: 0px 8px;
	font-size: 12px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
}

#was-price {
	text-decoration: line-through;
	color: hsl(219, 9%, 45%);
}

#cart-option {
	display: flex;
	align-items: center;
}

#add-remove {
	display: flex;
	align-items: center;
	padding: 16px 0px;
	background-color: hsl(223, 64%, 98%);
	border-radius: 12px;
	margin-right: 20px;
}

#quantity {
	font-weight: 700;
	padding: 0px 25px;
}

#remove {
	padding: 0px 15px;
	display: flex;
}

#remove-icon {
	align-items: center;
}

#add {
	padding: 0px 15px;
}

#remove:hover, #add:hover {
	cursor: pointer;
}

#cart-logo {
	color: white;
}

#add-to-cart {
	display: flex;
	align-items: center;
	padding: 15px 70px;
	background-color: hsl(26, 100%, 55%);
	border-radius: 12px;
	color: white;
	font-weight: 700;
}

#add-to-cart:hover {
	opacity: 0.65;
	cursor: pointer;
}

/* FOOTER */
.attribution { 
	font-size: 11px; 
	text-align: center; 
	margin-top: 30px;
}

.attribution a {
	color: hsl(228, 45%, 44%); 
}

/* MOBILE */
@media only screen and (max-width: 375px) {
	
	/* NAV */
	nav {
		border-bottom: none;
	}
	
	#mobile-menu {
		display: block;
		padding: 0px 10px;
	}
	
	#mobile-menu:hover {
		cursor: pointer;
	}
	
	ul {
		display: none;
	}
	
	main {
		flex-direction: column;
		margin-top: 0px;
	}
	
	/* PRODUCT IMAGES */
	#main-image {
		text-align: center;
		position: relative;
	}
	
	#prev-chev {
		display: block;
		position: absolute;
		top: 230px;
		z-index: 1;
		height: 35px;
		width: 35px;
		background-color: white;
		border-radius: 30px;
		margin-left: 10px;
	}
	
	#previous {
		display: block;
		position: absolute;
		z-index: 1;
		margin-left: 11px;
		top: 11px;
		height: 12px;
		width: 9px;
	}
	
	#previous:hover, #next:hover {
		cursor: pointer;
	}
	
	#prev-chev:hover, #next-chev:hover {
		cursor: pointer;
	}
	
	#next-chev {
		display: block;
		position: absolute;
		top: 230px;
		z-index: 1;
		height: 35px;
		width: 35px;
		background-color: white;
		border-radius: 30px;
		margin-left: 330px;
	}
	
	#next {
		display: block;
		position: absolute;
		z-index: 1;
		margin-left: 13px;
		top: 11px;
		height: 12px;
		width: 9px;
	}
	
	#product-images {
		padding: 0px;
		width: 375px;
	}
	
	#all-thumbs {
		display: none;
	}
	
	/* PRODUCT DESCRIPTION*/
	h6 {
		font-size: 12px;
		margin: 25px 0px 0px 0px;
	}
	
	h1 {
		font-size: 26px;
	}
	
	#product-info {
		padding: 0px;
		width: auto;
	}
	
	#product-desc {
		padding: 0px 20px;
	}
	
	
	/* PRICES & CART */
	#cart-option {
		flex-direction: column;
	}
	
	#price-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 20px;
	}
	
	#add-remove {
		width: 330px;
		height: 55px;
		justify-content: space-between;
		margin: 20px 0px;
		padding: 0px;
	}
	
	#add-to-cart {
		width: 330px;
		height: 55px;
		margin: 0px;
		padding: 0px;
		justify-content: center;
	}
	
	#cart-logo {
		display: none;
	}
}