@charset "UTF-8";
/* CSS Document */

/* ALL SECTIONS */
body {
	font-family: "Kumbh Sans", sans-serif;
}


/* FOOTER */
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }